@charset "utf-8";
/* CSS Document */

body {
	background: white;	
}

#appPreview, #appView {
	background: white;
	margin: 0px auto;
	width: 1020px;	
}

.fontA {}

.fontB {}

.indentText {
	text-indent: 35px;
}

.centerText {
		text-align: center;
}

.cents {
	font-size: 50%;
	vertical-align: super;
}

.form {
	height: 29px;
	width: 196px;
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 15px;
	color: #000;
}


/****************************************
PERSISTENT CONTENT
****************************************/

/*************************************************************************************
HEADER
*************************************************************************************/







/*************************************************************************************
END HEADER
*************************************************************************************/


/*************************************************************************************
FOOTER
*************************************************************************************/


/*************************************************************************************
END FOOTER
*************************************************************************************/


/*************************************************************************************
CATEGORY TEMPLATE
*************************************************************************************/


/*************************************************************************************
CATEGORY LIST TEMPLATE
*************************************************************************************/


/*************************************************************************************
CATEGORY LIST TEMPLATE ROOTCATS
*************************************************************************************/


/*************************************************************************************
PRODUCT LIST TEMPLATE
*************************************************************************************/


/*************************************************************************************
PRODUCT LIST TEMPLATE ATC
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE BUYER LIST
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE RESULTS
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE NO PREVIEW
*************************************************************************************/


/*************************************************************************************
PRODCUT TEMPLATE
*************************************************************************************/


/*************************************************************************************
PRODCUT QUICKVIEW TEMPLATE
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE BUYER LIST
*************************************************************************************/










