@charset "utf-8";
/* CSS Document */

body { background-image: url(images/BackgroundImage.jpg);}

#appPreview, #appView {
	margin: 0px auto;
	width: 1020px;	
}

.siteWidth {
	width: 940px;
	margin: 0px auto 0px auto;	
}

.positionRel {position: relative;}
.positionAbs {position: absolute;}

.blackBackground {background-color: #000;}

.fontSize10PX {font-size: 10px;}
.fontSize12PX {font-size: 12px;}
.fontSize14PX {font-size: 14px;}
.fontSize18PX {font-size: 18px;}
.fontSize24PX {font-size: 24px;}
.fontSize36PX {font-size: 36px;}

.fontColorWhite {color: #fff;}
.fontColorBlack {color: #000;}
.fontColorYellow {color: #fec611;}

.montFont {font-family: Montserrat;}
.montFontBold {font-family: Monterrat; font-weight: bold;}

.playFont {font-family: "Playfair Display";}
.playFontBold {font-family: "Playfair Display"; font-weight: bold;}

.playSCFont {font-family: "Playfair Display SC";}

.indentText {text-indent: 35px;}
.centerText {text-align: center;}
.allcaps{text-transform: capitalize;}
.smallcaps {font-variant: small-caps;}
.kernText {letter-spacing: 2.2px;}

.cents {
	font-size: 50%;
	vertical-align: super;
}

.form {
	height: 30px;
	font-family: "Playfair Display";
	font-size: 12px;
	color: #000;
	border: none;
}

.button {
	height: 32px;
	width: 70px;
	font-family: "Playfair Display";
	font-size: 14px;
	font-variant: small-caps;
	text-align: center;
	background-color: #fec611;
	border: none;
}

.borderGrey {border: 1px solid #777c71;}

.descriptionBar {
	height: 50px;
	width: 100%;
	font-variant: small-caps;
	line-height: 200%;
}


/****************************************
PERSISTENT CONTENT
****************************************/

/*************************************************************************************
HEADER
*************************************************************************************/

.headerContainer {
	height: 300px;
	width: 100%;
}

.headerBarContainer {
	height: 50px;
	width: 100%;
	line-height: 50px;
}

.headerBarLogin {
	width: 350px;
	padding-left: 40px;
	float: left;
}

.headerBarLogin a {text-decoration: none;}

.headerBarCart {
	width: 235px;
	padding-left: 200px;
	float: left;
}

.headerBarHelp {
	width: 80px;
	padding-right: 40px;
	float: right;
}

.headerLogo {
	height: 127px;
	width: 292px;
	margin: 0px auto 0px auto;
	padding: 55px 0px 15px 0px;
}

.headerNavContainer {
	height: 50px;
	width: 940px;
	margin: 0px auto 0px auto;
	overflow: show;
}

.shopContainer {
	width: 175px;
	padding-left: 20px;
	position: relative;
}

.shopArrowContainer {
	width: 17px;
	padding: 17px 5px 0px 0px;
	float: left;
}

.dropdown {
	height: 0px;
	width: 320px;
	margin: 0px 0px 0px 20px;
	position:absolute;
	top: 50px;
	overflow: hidden;
	position: absolute;
	left: -20px;
}

.dropdown ul {
	margin: 0px;
	padding: 0px 0px 3px 35px;
}

.dropdown li {
	margin: 15px 10px 18px 10px;
	font-variant: small-caps;
}

.dropdown li:hover {
	color: #fec611;
	cursor: pointer;
}

.headerSeeAll {
	height: 50px;
	width: 100%;
}

.shopContainer span {
	line-height: 50px;
	position: absolute;
	top: 0px;
	left: 44px;
}

.headerSearchBar {
	position: absolute;
	top: 9px;
	left: 718px;
	width: 140px;

}

.headerSearchButton {
	position: absolute;
	top: 9px;
	left: 858px;
	font-size: 14px;
	padding-bottom: 2px;
}


/*************************************************************************************
END HEADER
*************************************************************************************/


/*************************************************************************************
FOOTER
*************************************************************************************/


.footerContainer {
	width: 100%;
	clear: both;
}

.upperFooterContainer {
	height: 385px;
	width: 100%;
}

.stayUpdatedContainer {
	height: 50px;
	width: 710px;
	margin: 0px auto 0px auto;
}

.stayUpdatedText {
	height: 30px;
	width: 130px;
	margin: 5px 0px 0px 0px;
}

.stayUpdatedInputs {
	margin: 9px 0px 0px 20px;
}

.footerLinksContainer {
	height: 320px;
	width: 100%;
	background-color: #777c71;
}

.footerCategories {
	height: 320px;
	width: 475px;
	padding-left: 19px;
}

.footerLinksContainer ul {
	width: 190px;
}

.footerLinkHead.playFont {
	margin: 10px;
}

.footerLinkHead.playFont:hover {
	color: #000;
}

.footerLinksContainer li {
	margin-left: 30px;
	line-height: 29px;
}

.footerLinksContainer li:hover {
	color: #fec611;
}

.footerLink.SecondCol {
	margin: 49px 0px 0px 30px;
}

.footerLinkStyle {
	color: #fff;
	text-decoration: none;
}

.footerLinkStyle:hover {
	color: #fec611;
}

.footerHelpAccount {
	height: 320px;
	width: 240px;
}

.lowerFooterContainer {
	height: 140px;
	width: 100%;
}

.footerLogos {
	height: 65px;
	width: 515px;
	margin: 30px auto 30px auto;
	padding-right: 10px;
}

.footerLogos img {
	margin-left: 10px;
}


/*************************************************************************************
END FOOTER AND PERSISTENT CONTENT
*************************************************************************************/


/*************************************************************************************
HOMEPAGE TEMPLATE
*************************************************************************************/

.homepageContainer {
	width: 960px;
	margin: 0px auto 0px auto;
}

.homepageBanner {
	height: 300px;
	width: 700px;
	margin: 20px 10px 0px 10px;
	float: left;
	background-color: #09F;
}

.productList li {
	height: 300px;
	width: 220px;
	float: left;
	margin: 20px 10px 0px 10px;
}

.catThumb.thumbContainer {
	height: 223px;
	width: 194px;
	padding: 27px 13px 0px 13px;
	background-color: #fff;
}

.homepageTextDescription {
	height: 475px;
}

.homepageLogoTagline {
	height: 100%;
	width: 50%;
}

.quality {
	position: absolute;
	top: 135px;
	left: -98px;
	margin-left: 50%;
	font-size: 56px;
}

.overstock {
	position: absolute;
	top: 199px;
	left: 190px;
	letter-spacing: 6.2px;
}

.tagline {
	position: absolute;
	top: 288px;
	left: 16px;
	letter-spacing: 4.2px;
	line-height: 31px;
}

.homepageDescription {
	height: 100%;
	width: 47%;
	margin: 40px 10px 10px 10px;
	float: left;
	line-height: 25px;
}

.homepageDescription span {font-size: 24px}





/*************************************************************************************
END HOMEPAGE TEMPLATE
*************************************************************************************/


/*************************************************************************************
CATEGORY TEMPLATE
*************************************************************************************/


.categoryTemplate {
	height: auto;
	width: 940px;
	margin: auto;	
}


/*************************************************************************************
CATEGORY LIST TEMPLATE
*************************************************************************************/

.catListTempLineAdjust { line-height: 47px;}

/*************************************************************************************
CATEGORY LIST TEMPLATE ROOTCATS
*************************************************************************************/


/*************************************************************************************
PRODUCT LIST TEMPLATE
*************************************************************************************/


/*************************************************************************************
PRODUCT LIST TEMPLATE ATC
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE BUYER LIST
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE RESULTS
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE NO PREVIEW
*************************************************************************************/


/*************************************************************************************
PRODCUT TEMPLATE
*************************************************************************************/


/*************************************************************************************
PRODCUT QUICKVIEW TEMPLATE
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE BUYER LIST
*************************************************************************************/


/*************************************************************************************
MP CONTROLS CONTAINER
*************************************************************************************/


.mpControls {
	
}

.mpControlsPagination.ui-state-active.pointer {
	border: none;
	background-color: transparent;
	background: none;
	font-weight: 400;
	color: #000;
	line-height: 28px;
}

/*OVERRIDES OF CSS DROPDOWN MENU FROM QUICKSTART.CSS
/* tier1 menu behavior */
.ddUlMenu ul li {
	margin:0;
	padding:0;
	list-style:none;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.ddUlMenu ul li+li {margin: 7px 0px 5px 7px;}

/* tier 1 menu link style (ok to change this). will affect tier2 also */
.ddUlMenu ul li a {
	float: left;
	text-decoration:none;
	padding:0 12px;
	cursor: text;
	color: #000;
}

.ddUlMenu li ul {
	left: -999em;
	margin: 24px 0px 0 -34px; /* top margin should = tier 1 line-height - 1px...ish */
	position: absolute;
	width: 160px;
	z-index: 9999;
	background-image: none;
	background: #000;
	border: none;
}
/*END CSS DROP DOWN MENU OVERRIDES


/* sets text to vertical center of numbers on left side of mpControls*/
.ofItems {			
	line-height: 28px;
}

.mpFiltersContainer {margin: 8px 106px 0px 0px;}

.mpFiltersContainer > div {margin: 0px 14px 0px 14px;}

.mpFiltersContainer img {margin: -1px 11px 0px 0px;}

.selectionBox {
	height: 15px;
	width: 15px;
	background-color: #fff;
	margin: -1px 11px 0px 0px;
}

.selectionBox:hover {background-color: #fec611;}


/*************************************************************************************
END MP CONTROLS CONTAINER
*************************************************************************************/


/*************************************************************************************
BREADCRUMB
*************************************************************************************/


.newBreadcrumb {
	cursor: pointer;
	text-decoration: none;
	text-transform: capitalize;
}

.breadcrumb li:after {
	font-size: 14px;
	color: #000;
	font-weight: 400; 
	cursor: text;
}

.breadcrumb li:last-child a {
	font-weight: bold;
	color: #000;
	text-transform: capitalize;
}

.clearfix.noPadOrMargin.fluidList.breadcrumb {
	width: 940px;
	margin: 4px auto 12px auto;
}*/


/*************************************************************************************
END BREADCRUMB
*************************************************************************************/




