@charset "utf-8";
/* CSS Document */

body { background-image: url(images/BackgroundImage.jpg);}

#appPreview, #appView {
	margin: 0px auto;
	width: 1020px;	
}

a {text-decoration:none; color:#fff;}

.siteWidth {
	width: 940px;
	margin: 0px auto 0px auto;	
}

.positionRel {position: relative;}
.positionAbs {position: absolute;}

.blackBackground {background-color: #000;}

.fontSize10PX {font-size: 10px;}
.fontSize12PX {font-size: 12px;}
.fontSize14PX {font-size: 14px;}
.fontSize18PX {font-size: 18px;}
.fontSize24PX {font-size: 24px;}
.fontSize36PX {font-size: 36px;}

.fontColorWhite {color: #fff;}
.fontColorBlack {color: #000;}
.fontColorYellow {color: #fec611;}

.montFont {font-family: Montserrat; font-weight: normal;}
.montFontBold {font-family: Montserrat; font-weight: bold;}

.playFont {font-family: "Playfair Display"; font-weight: normal;}
.playFontBold {font-family: "Playfair Display"; font-weight: bold;}

.playSCFont {font-family: "Playfair Display SC"; font-weight: normal;}

.indentText {text-indent: 35px;}
.centerText {text-align: center;}
.allcaps{text-transform: capitalize;}
.smallcaps {font-variant: small-caps;}
.kernText {letter-spacing: 2.2px;}

.cents {
	font-size: 50%;
	vertical-align: super;
}

.form {
	height: 30px;
	font-family: "Playfair Display";
	font-weight: normal;
	font-size: 12px;
	color: #000;
	border: none;
}

.button {
	height: 32px;
	width: 70px;
	font-family: "Playfair Display";
	font-size: 14px;
	font-variant: small-caps;
	text-align: center;
	background-color: #fec611;
	border: none;
}

.borderGrey {border: 1px solid #777c71;}

.descriptionBar {
	height: 50px;
	width: 100%;
	font-variant: small-caps;
	line-height: 200%;
}

#appNav .displayNone.prodDetailNextItemButton.prodDetailNxtItem {
		right: 285px;
		top: 28px;
}

#appNav .displayNone.prodDetailPrevItemButton.prodDetailPrvItem {
		left: 295px;
		top: 28px;
}


/****************************************
PERSISTENT CONTENT
****************************************/

/*************************************************************************************
HEADER
*************************************************************************************/

.headerContainer {
	height: 300px;
	width: 100%;
}

.headerBarContainer {
	height: 50px;
	width: 100%;
	line-height: 50px;
}

.headerBarLogin {
	width: 420px;
	padding-left: 40px;
	float: left;
}

/* Adds user name to "Welcome" in header if logged in */
.buyerLoggedIn .hideIfLoggedIn {display:none;}
.hideIfLoggedOut {display:none;}
.buyerLoggedIn .hideIfLoggedOut {display: block;} /* may be 'block' */
.buyerLoggedIn span.hideIfLoggedOut {display: inline;} /* ensures inline on span elements */

.headerBarLogin a {text-decoration: none;}

.headerBarCart {
	width: 235px;
	padding-left: 130px;
	float: left;
}

.headerBarHelp {
	width: 80px;
	padding-right: 40px;
	float: right;
}

.headerLogo {
	height: 127px;
	width: 292px;
	margin: 0px auto 0px auto;
	padding: 55px 0px 15px 0px;
}

.headerNavContainer {
	height: 50px;
	width: 940px;
	margin: 0px auto 0px auto;
	overflow: show;
}

.shopContainer {
	width: 175px;
	padding-left: 20px;
	position: relative;
}

.shopArrowContainer {
	width: 17px;
	padding: 17px 5px 0px 0px;
	float: left;
}

.dropdown {
	height: 0px;
	width: 320px;
	margin: 0px 0px 0px 20px;
	top: 50px;
	overflow: hidden;
	position: absolute;
	left: -20px;
	z-index: 5;
}

.dropdown ul {
	margin: 0px;
	padding: 0px 0px 3px 35px;
}

.dropdown li {
	margin: 15px 10px 18px 10px;
	font-variant: small-caps;
}

.dropdown a:hover {
	color: #fec611;
	cursor: pointer;
}

.headerSeeAll {
	height: 50px;
	width: 100%;
}

.shopContainer span {
	line-height: 50px;
	position: absolute;
	top: 0px;
	left: 44px;
}

.headerSearchBar {
	position: absolute;
	top: 9px;
	left: 718px;
	width: 140px;

}

.headerSearchButton {
	position: absolute;
	top: 9px;
	left: 858px;
	font-size: 14px;
	padding-bottom: 2px;
}


/*************************************************************************************
END HEADER
*************************************************************************************/


/*************************************************************************************
FOOTER
*************************************************************************************/


.footerContainer {
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}

.upperFooterContainer {
	height: 385px;
	width: 100%;
}

.stayUpdatedContainer {
	height: 50px;
	width: 710px;
	margin: 0px auto 0px auto;
}

.stayUpdatedText {
	height: 30px;
	width: 130px;
	margin: 5px 0px 0px 0px;
}

.stayUpdatedInputs {
	margin: 9px 0px 0px 20px;
}

.footerLinksContainer {
	height: 320px;
	width: 100%;
	background-color: #777c71;
}

.footerCategories {
	height: 320px;
	width: 475px;
	padding-left: 19px;
}

.footerLinksContainer ul {
	width: 190px;
}

.footerLinkHead.playFont {
	margin: 10px;
}

.footerLinkHead.playFont:hover {
	color: #000;
}

.footerLinksContainer li {
	margin-left: 30px;
	line-height: 29px;
}

.footerLinksContainer li:hover {
	color: #fec611;
}

.footerLink.SecondCol {
	margin: 49px 0px 0px 30px;
}

.footerLinkStyle {
	color: #fff;
	text-decoration: none;
}

.footerLinkStyle:hover {
	color: #fec611;
}

.footerHelpAccount {
	height: 320px;
	width: 240px;
}

.lowerFooterContainer {
	height: 140px;
	width: 100%;
}

.footerLogos {
	height: 65px;
	width: 525px;
	margin: 30px auto 30px auto;
	padding-right: 10px;
}

.footerLogos img {margin-left: 10px;}

.AuthorizeNetSeal{text-align:center;margin:0;padding:0;width:59px;font:normal 9px arial,helvetica,san-serif;line-height:10px;display:inline;}
.AuthorizeNetSeal a{text-decoration:none;color:black;display:table-row-group;}
.AuthorizeNetSeal a:visited{color:black;}
.AuthorizeNetSeal a:active{color:black;}
.AuthorizeNetSeal a:hover{text-decoration:underline;color:black;}
.AuthorizeNetSeal a img{border:0px;margin:0px;text-decoration:none;} 


/*************************************************************************************
END FOOTER AND PERSISTENT CONTENT
*************************************************************************************/


/*************************************************************************************
HOMEPAGE TEMPLATE
*************************************************************************************/

.homepageContainer {
	width: 960px;
	margin: 0px auto 0px auto;
}

.homepageBanner {
	height: 300px;
	width: 700px;
	margin: 20px 10px 0px 10px;
	float: left;
}

.specialDealsContainer {
	height: 50px; 
	width: 220px; 
	margin: 20px 10px 0px 10px;
	padding-top: 250px;
	background-image:url(images/SpecialDealsBkgnd-300x220.jpg);
}

.homepageProdList li {
	height: 300px;
	width: 220px;
	float: left;
	margin: 20px 10px 0px 10px;
}

.catThumb.thumbContainer {
	height: 223px;
	width: 194px;
	padding: 27px 13px 0px 13px;
	background-color: #fff;
}

.homepageTextDescription {
	height: 475px;
}

.homepageLogoTagline {
	height: 100%;
	width: 50%;
}

.quality {
	position: absolute;
	top: 135px;
	left: -98px;
	margin-left: 50%;
	font-size: 56px;
}

.overstock {
	position: absolute;
	top: 199px;
	left: 190px;
	letter-spacing: 6.2px;
}

.tagline {
	position: absolute;
	top: 288px;
	left: 16px;
	letter-spacing: 4.2px;
	line-height: 31px;
}

.homepageDescription {
	height: 100%;
	width: 47%;
	margin: 40px 10px 10px 10px;
	float: left;
	line-height: 25px;
}

.homepageDescription span {font-size: 24px}





/*************************************************************************************
END HOMEPAGE TEMPLATE
*************************************************************************************/


/*************************************************************************************
CATEGORY TEMPLATE
*************************************************************************************/


.categoryTemplate {
	height: auto;
	width: 960px;
	margin: auto;	
}

.categoryDescription {
	height: 100%;
	width: 100%;
	margin: 20px 10px 10px 10px;
	float: left;
	line-height: 25px;
}

/*************************************************************************************
CATEGORY LIST TEMPLATE
*************************************************************************************/

.catListTempLineAdjust { line-height: 47px;}

/*************************************************************************************
CATEGORY LIST TEMPLATE ROOTCATS
*************************************************************************************/


/*************************************************************************************
PRODUCT LIST TEMPLATE
*************************************************************************************/


.prodList, .productList li {
	height: 230px;
	width: 140px;
	margin: 10px;
	background-color: #fff;
}

.prodImg {margin: 15px 13px 0px 13px;}

.prodDesc, .productList h5, .categoryList h5 {
	font-size: 11px;
	height: 56px;
	padding: 15px 5px 6px 5px;
}

.prodPrice, .productList h6, .categoryList h6 {
	background-color: #000;
	height: 30px;
	width: 100%;
	font-size: 22px;
	line-height: 23px;
}

/*************************************************************************************
PRODUCT LIST TEMPLATE ATC
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE BUYER LIST
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE RESULTS
*************************************************************************************/

.resultListContainer {
	height: auto;
	width: 960px;
	margin: auto;
}

.resultsHeader.clearfix {
	height: auto;
	width: 928px;
	background: none;
	color: #FEC611;
	margin: auto;
	top: -1px;
	text-align:center;
	font-family: "Playfair Display SC";
	font-size: 18px;
}

.resultsHeader.clearfix.ui-widget-header {
	top: -40px;
	border: none;
	width: 310px;
}

.resultsMenuContainer .resultsMenu {
	height: 29px;
	width: 125px;
	position:absolute;
	top: 4px;
	left: 5px;
	text-align: center;
	font-size: 18px;
	font-family: "Open Sans";
	border: none;
}

.resultsMenuContainer .resultsMenu li {
	height: auto;
}

.resultsMenuContainer .resultsMenu li ul li {
	height: 20px;
	width: 120px;
	}

.prevMove {
	position:absolute;
	left: -386px;
}

.nextMove {
	position:absolute;
	right: 32px;
}

/*************************************************************************************
PRODCUT LIST TEMPLATE NO PREVIEW
*************************************************************************************/


/*************************************************************************************
PRODUCT TEMPLATE
*************************************************************************************/


.prodViewerContainer {
	width: 960px;
	margin: auto;
}

.imageContainer {width: 230px;}

.prodBigImage {padding-left: 10px;}

.additionalImageContainer {
	height: 000px;
	width: 240px;
}

.pointer.border.additionalImages {margin: 10px;}

.prodReviewContainer {
	height:auto;
	width: 388px;
	padding: 22px;
	background-color: #fff;
	border: 2px solid #000;
	box-shadow: 0px 2px 2px #000;
	margin: 50px 9px 20px 0px;
	overflow:auto;
}

.prodReviewContainer h2 {
	height: auto;
	width: auto;
	font-family: Montserrat;
	font-size: 12px;
}

.prodReviewInfo {width:380px;}

.prodSummaryContainer {
 	width: 440px; 
	padding-right: 22px;
}

.prodSummaryContainer h1 {
	margin: 50px 0px 13px 0px;
	font-family: "Playfair Display";
	font-weight: normal;
}

.stid h3 {
	float: left;
	color: #666;
	line-height: 15px;
}

.stid h4 {
	float: left;
	line-height: 15px;
	font-weight: 400;
}

.prodSummaryContainer h5 {
	font-size: 12px;
	color: #000;
}

.prodSummaryContainer h6 {
	font-size: 12px;
	color: #000;
}

.prodDetailsDesc {
	line-height: 18px;
}

.prodSelectionContainer {
	height: auto; /*618px;*/
	width: 218px;
	background-color: #000;
	margin-bottom: 20px;
}

.prodPriceSelection {
	height: auto; /*290px;*/
	width: 100%;
}

.prodPriceSelection h4 {
	height: 72px;
	width: 100%;
	margin:auto;
	font-size: 48px;
	line-height: 70px;
	text-align: center;
	float: left;
}

.prodPriceSelection h5 {
	height: 46px;
	width: 100%;
	font-size: 24px;
	line-height: 43px;
	text-align: center;
	text-decoration: line-through;
	float: left;
}

.prodCostDesc {}

.prodSizeSelection {
	height: 180px;
	width: 100%;
	background-color: #cccccc;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.sizeUL {
	padding-left: 25px;
	height: 147px;
	width: 193px;
	list-style: none;
}

.sizeUL li {
	height: 32px;
	width: 180px;
	line-height: 20px;
}

.sizeCheck {
	height: 16px;
	width: 16px;
	margin-right: 10px;
	background-color: #fff;
	float: left;
}

.sizeCheck:hover {
	background-color: #0099f4;
}

.sizeText {
	width: auto;
	height: auto;
	float: left;
}

.prodCartSelection {
	height: auto;
	width: 100%;
	margin-top:20px;
}

.prodCartSelection span {
	height: 10px;
	width: 50%;
	margin: 0px 18px 0px 18px;
	color: #fff;
	line-height: 48px;
	font-size: 11px;
}

.prodCartSelection h4 {letter-spacing: 2.2px; font-weight: 400;}

.prodCartMarginRemove.prodViewerAddToCartForm {
	margin-bottom: 0px;
}

.prodSelectionQty {
	width: 50px;
	text-align: center;
	margin: 6px -10px 0 18px;
	padding: 0px;
	float: left;
	background-color:#FEC611;
	color:#000;
	height:32px;
	line-height:15px;
}

.prodSelectItemField {
	height: 30px;
	width: 198px;
	margin: 0px 0px 8px 0px;
	float: left;
}

.zform_number {
	height: 30px;
	width: 130px;
	text-align: center;
	margin: 6px 0px 0px 10px;
	border: none;
	float: left;
}

.prodSelectAddCartButton.ui-state-default {
	height: 50px;
	width: 180px;
	line-height: 10px;
	margin: 10px 18px 10px 18px;
	padding: 0px;
	background: #fec611;
	border: none;
	color: #000;
	font-weight: 400;
}

.productSmallButtonContainer {
	width: 180px;
	margin: auto;
}


.prodSelectSmallButtons.ui-button {
	height: 33px;
	color: #fff;
	font-family: "Playfair Display";
	font-size: 14px;
	font-weight: 400;
	font-variant: small-caps;
	margin-bottom: 10px;
	background: #777c71;
	border: none;
}

.prodSelectShareButton {
	width: 108px;	
	
}

.prodSelectWishlistButton {
	width: 59px;
	margin-left: 6px;
}

.prodSelectSeeDescriptionButton.prodSelectSmallButtons.ui-button.ui-state-default.displayNone {
	width: 180px;
	display: none;
}

.prodSelectSeeDescriptionButton.prodSelectSmallButtons.ui-button.ui-state-default.displayNone.inReview {
	width: 120px;
	margin-left: 10px;
}

.prodSelectSeeReviewButton {
	width: 180px;
}

.prodSelectWriteReviewButton.ui-button {
	width: 180px;
}


/*************************************************************************************
END PRODCUT TEMPLATE
*************************************************************************************/

/*************************************************************************************
PRODCUT QUICKVIEW TEMPLATE
*************************************************************************************/

.previewProductDetail .prodViewerContainer {
	width: 660px; 
}

.previewProductDetail .imageContainer {
	width: 29%;
}

.previewProductDetail .prodSummaryContainer  {
	font-family: "Open Sans";
}


/*************************************************************************************
COMPANY TEMPLATE
*************************************************************************************/


.companyTemplateContainer {
	height: auto;
	width: 940px;
	margin: 10px auto 10px auto;
}

/* SIDELINE */
.sideline a {
	padding: 0px;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.sideline a:hover {
	color: #ccc;
}

.sideline li:first-child {
	margin: 15px 0px 5px 0px;
	line-height: 25px;
}

.sideline li {
	margin-left: 15px;
	line-height: 25px;
}

.articleText h1 {
	margin: 0px 0px 10px 0px;
}

.articleText h2 {
	font-family: "Playfair Display SC"; 
	font-weight: normal;
	font-size: 18px;
	font-variant: small-caps;
}

.articleText p {
	font-family: Montserrat;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	line-height: 25px;
}

.articleText a {
	cursor: pointer;
	font-weight:bold;
	text-decoration:underline;
	color:#000;	
}

.articleText span.grey {
	color: #777c71;
	font-size: 12px;
	font-family: Montserrat;
	font-variant: normal;	
}

.articleText span.boldNumber {
	font-weight: bold;
	color: #000;	
}


/* ABOUT US */
.aboutUs p {
	padding-left: 20px;
	text-indent: 30px;
	line-height: 25px
}


/* CONTACT US */
.contactContainer {
	height: auto;
	width: 700px;
}

#contactForm {margin: 0px 0px 12px -123px;}

#contactForm fieldset {
	border:none;
}

#contactForm input {
	height:33px; 
	width: 270px;
	border: 1px solid #000;
	font-family: "Playfair Display";
	font-weight: normal;
	font-size:12px;
}

#contactForm textarea {
	height:200px; 
	width: 270px;
	border: 1px solid #000;
	font-family: "Playfair Display";
	font-weight: normal;
	font-size:12px;
}

#contactForm input.smallcaps {
	height:33px; 
	width: 150px;
	border: none;
	font-family: "Playfair Display";
	font-weight: normal;
	font-size:14px;
}

.contactMessage {line-height:26px;}

.waysToContact {
	Height:auto;
	width:380px;
}

.paymentArti p {
	padding-left: 20px;
	text-indent: 30px;
	line-height: 25px
}

/* SHIPPING */  
.shippingText p {padding-left:22px; text-indent:-22px;}



/*************************************************************************************
END COMPANY TEMPLATE
*************************************************************************************/


/*************************************************************************************
PRODCUT LIST TEMPLATE BUYER LIST
*************************************************************************************/


.listsArticle {margin: 0px 0px 20px 40px;}
.listsArticle h1 {margin-bottom:10px;}
.listsArticle .mpControls .mpFiltersContainer {display:none;}
.productListTemplateBuyerList .prodThumbContainer {margin-right: 20px;}


/*************************************************************************************
MP CONTROLS CONTAINER
*************************************************************************************/


.mpControls {
	margin: 10px 0px 5px 0px;
	padding: 0px 10px 0px 10px;
}

.mpControlsPagination.ui-state-active.pointer {
	border: none;
	background-color: transparent;
	background: none;
	font-weight: 400;
	color: #000;
	line-height: 28px;
}

/*OVERRIDES OF CSS DROPDOWN MENU FROM QUICKSTART.CSS
/* tier1 menu behavior */
.ddUlMenu ul li {
	margin:0;
	padding:0;
	list-style:none;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.ddUlMenu ul li+li {margin: 7px 0px 5px 7px;}

/* tier 1 menu link style (ok to change this). will affect tier2 also */
.ddUlMenu ul li a {
	float: left;
	text-decoration:none;
	padding:0 12px;
	cursor: text;
	color: #000;
}

.ddUlMenu li ul {
	left: -999em;
	margin: 24px 0px 0 -34px; /* top margin should = tier 1 line-height - 1px...ish */
	position: absolute;
	width: 160px;
	z-index: 9999;
	background-image: none;
	background: #000;
	border: none;
}
/*END CSS DROP DOWN MENU OVERRIDES


/* sets text to vertical center of numbers on left side of mpControls*/
.ofItems {			
	line-height: 28px;
}

.mpFiltersContainer {margin: 8px 106px 0px 0px;}

.mpFiltersContainer > div {margin: 0px 14px 0px 14px;}

.mpFiltersContainer img {margin: -1px 11px 0px 0px;}

.selectionBox {
	height: 15px;
	width: 15px;
	background-color: #fff;
	margin: -1px 11px 0px 0px;
}

.selectionBox:hover {background-color: #fec611;}

.hideInventory {display:none;}


/*************************************************************************************
END MP CONTROLS CONTAINER
*************************************************************************************/


/*************************************************************************************
PRODUCT LIST TEMPLATE CART CONTAINER
*************************************************************************************/


.lineItemProdlist > li {
	height: auto;
	width: 150px !important;
	float: left
}

.cartItemContianer {
	height: auto;
	width: 140px;
}

.cartProdDesc.montFont.centerText.fontSize10PX.fontColorBlack {
	height: 56px;
	padding:15px 5px 6px 0px;
	font-size: 11px;
}

.cartProdPrice {
	height: 30px;
	width: 100%;
	line-height: 23px;
	font-size: 22px;
	background-color: #000;
	margin-bottom: 10px;
}

.cartButtonContainer {
	height: 60px;
	width: 140px;
	padding: 0px 0px 0px 1px;
	margin-top: 10px;
}

.cartButtonContainer button:nth-child(1) {
	height: 30px;
	width: 100%;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border: none;
	background: #777;
	font-size:13px;
}

.cartButtonContainer button:nth-child(1) span:nth-child(1) {display:none;}
.cartButtonContainer button:nth-child(1) span:nth-child(2) {padding:0px;}

.cartButtonContainer button:nth-child(2) {
	background: none;
	height: 30px;
	width: 100%;
	border: none;
	text-align: center;
}

.cartButtonContainer button:nth-child(2) span {
	padding:0 4px 0 0;
	color: #777;
	text-decoration:underline;
	font-size:10px;
}

.cartRemoveButton span:first-child, .ui-button-icon-primary ui-icon ui-icon-closethick {display: none;}
.cartRemoveButton span:nth-child(2), .ui-button-icon-primary ui-icon ui-icon-closethick {color:#fff;}

/*************************************************************************************
PRODUCT LIST TEMPLATE CART CONTAINER
*************************************************************************************/


/*************************************************************************************
BREADCRUMB
*************************************************************************************/


.newBreadcrumb {
	cursor: pointer;
	text-decoration: none;
	text-transform: capitalize;
}

.breadcrumb li:after {
	font-size: 14px;
	color: #000;
	font-weight: 400; 
	cursor: text;
}

.breadcrumb li:last-child a {
	font-weight: bold;
	color: #000;
	text-transform: capitalize;
}

.clearfix.noPadOrMargin.fluidList.breadcrumb {
	width: 940px;
	margin: 4px auto 12px auto;
}*/


/*************************************************************************************
END BREADCRUMB
*************************************************************************************/



