div.ui-dialog-titlebar {display:none;}

div.ui-dialog div.redirectToSiteApp {background-color:#ffffff; background-image:url(images/background-image_1020x500.jpg); float:left; font-family:"Playfair Display SC"; color#ffffff;}

.redirectToSiteApp h3 {color:#999999; font-weight:normal; text-align:center; margin:15px 0;}

button::-moz-focus-inner {border:0;}

.redirectToSiteApp button {color:#000000; margin:10px 0 0 0; border:none; padding:5px 10px; cursor:pointer;}

.redirectToSiteApp button.autoRedirectButton {background-color:#fec611; cursor:pointer;}
.redirectToSiteApp button.autoRedirectButton:hover {background-color:#000000; color:#fec611;}

.redirectToSiteApp .redirectToSiteAppButton {height:40px; width:150px; font-weight:bold; background-color:#000000; cursor:pointer; color:#ffffff;}
.redirectToSiteAppButton:hover {background-color:#fec611; color:#000000;}

.redirectToSiteApp a.bugLaterButton {color:#777c71; font-family:"Open Sans"; font-size:14px; float:right; margin:30px 0 0 0; cursor:pointer;}
.redirectToSiteApp a.bugLaterButton:hover {color:#cccccc; text-decoration:underline;}